*.o
*.raw
disable/
/config.*
.idea
build/
tests/

.version
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*.pc

.deps
.libs
.dirstamp

debian/.debhelper
debian/autoreconf.*
debian/*.log
debian/tmp

*.la
*.lo
*.o

src/yate_x75
src/yate_tty
src/yate_hdlc_ppp
src/file_hdlc_decoder
src/test

